

header {
    background-color: #0c0b0b;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.content {
    text-align: center;
    padding: 50px;
}

.savoir plus a {
    color: #f5067d;
    text-decoration: none;
    font-size: 1.2em;
    border-bottom: 2px solid #f5067d;
    transition: border-bottom 0.3s ease-in-out;
}

.savoir plus a:hover {
    border-bottom: 2px solid #1b1a1a;
}



.contact {
    text-align: center;
    padding: 50px;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
}



.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ff66b2;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #ff66b2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e60073;
}

.contact-info {
    margin-top: 30px;
    color: #11050b;
}

.contact-info a {
    color: #FF8D7E;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}



body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
    color: #fff;
}

nav {
    text-align: center;
    background-color: #0f070e;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 18px;
}

content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #FF8D7E;
}

p {
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.interets {
    font-size: 20px;
}

.contact-link {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.contact a {
    text-decoration: none;
    color: #FF719D;
}




